.purple-btn{
    border-color: $purple !important;
    background-color: white !important;
    border-width: 2px !important;
    color: #6E07F3 !important;
}

.purple-btn:hover{
    background-color: $purple !important;
    color: white !important;
}

.purple-btn-solid{
    border-color: $purple !important;
    background-color: $purple !important;
    color: white !important;
}

.purple-btn-outline{
    background-color: $purple !important;
    color: white !important;
    border: 2px solid white !important;
}

.purple-btn-outline:hover{
    background-color: white !important;
    color: $purple !important;
}

.purple-btn-outline-reverse{
    background-color: $purple !important;
    color: #fff !important;
    border: 2px solid $purple !important;
}

.purple-btn-outline-reverse:hover{
    background-color: #fff !important;
    color: $purple !important;
    border: 2px solid $purple !important;
}

.btn-mint-outline{
    border: 2px solid $mint !important;
    color: white !important;
}

.btn-mint-outline:hover{
    background-color: $mint !important;
    color: $dark-blue !important;
}