// .dropdown{
//     .dropdown-toggle{
//         color: white;
//     }
//     .nav-link.show{
//         color: white;
//     }
// }
// .dropdown-menu{
//     background-color: $purple;

//     .dropdown-item:hover{
//         color: white;
//         background-color: $purple;
//         text-decoration: underline white;
//     }
// }

#main-navbar a.nav-link{
    transition: all 0.2s ease-in-out;
}

#main-navbar a.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}
