#skills{
    position: relative !important; 
    bottom: 150px !important;
}

.icon-bg{
    background-color: $mint !important;
    width: 75px !important;
    height: 75px !important;
    i{
        text-align: center !important;
        margin: auto !important;
    }
}