@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "bootstrap/scss/bootstrap";

@import './components/custom.scss';
@import './components/buttons.scss';
@import './components/resume.scss';
@import './components/home.scss';
@import './components/text.scss';
@import './components/nav-menu.scss';

body{
    font-family: 'Roboto', sans-serif;
}

.appContainer{
    min-height: 80vh;
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3rem;
}

.icon-bg{
    background-color: $mint !important;
    width: 75px !important;
    height: 75px !important;
    i{
        text-align: center !important;
        margin: auto !important;
    }
}

.purple-bg-color{
    background-color: $purple !important;
    color: white !important;
}

footer .nav-link, footer p{
    color: white !important;
}